{# Template: contributor-profile #}
{# Version: 1.1 #}

{# option.userid     --- Name of user to be shown #}
{# option.social     --- Display Social Icons #}
{# option.donations  --- Display Donation Icons #}
{# option.flattr     --- Display Contributor Flattr Button #}
{# option.show_name  --- Show Contributor Name #}


{% if option.avatar_size %}
    {% set avatar_size = option.avatar_size %}
{% else %}
    {% set avatar_size = '128' %}
{% endif %}


<div class="contributor-profile">
	{% set contributor = podcast.contributors({scope: "podcast", id: option.userid}) %}
    {% if contributor %}
		<img src="{{ contributor.avatar.url }}" title="{{ contributor.name }}" height="{{ avatar_size }}" width="{{ avatar_size }}"/ />
	    {%if option.show_name == "yes" %}
		<br/>
		<strong>{{ contributor.name }}</strong>
		{% endif %}
	    {%if contributor.comment %}
	    	<br/><em>{{ contributor.comment }}</em>
	    {% endif %}


        {% if option.social == "yes" %}
			{% for service in contributor.services({category: "social"}) %}
	        {% if loop.first %}<br/>{% endif %}
				<a target="_blank" title="{{ service.title }}" href="{{ service.profileUrl }}">
					<img width="32" height="32" src="{{ service.logoUrl }}" class="podlove-contributor-button" alt="{{ service.title }}" />
				</a>
			{% endfor %}
		{% endif %}

        {% if option.donations == "yes" %}
			{% for service in contributor.services({category: "donation"}) %}
	        {% if loop.first %}<br/>{% endif %}
				<a target="_blank" title="{{ service.title }}" href="{{ service.profileUrl }}">
					<img width="32" height="32" src="{{ service.logoUrl }}" class="podlove-contributor-button" alt="{{ service.title }}" />
				</a>
			{% endfor %}
		{% endif %}


		{% if option.flattr == "yes" and contributor.flattr %}
			<br/><a target="_blank"
				class="FlattrButton"
				title="Flattr {{ contributor.name }}"
				rel="flattr;uid:{{ contributor.flattr }};button:compact;popout:0"
				href="{{ contributor.flattr_url }}">
					Flattr {{ contributor.name }}
			</a>
		{% endif %}

	{% endif %}
</div>


<style>
	div.contributor-profile {
		float:right;
	    margin-left: 20px;
	    margin-left: 20px;
   }
</style>