{# Metaebene podcast-archive template v1.2.1 #}

{# group - define the contributor group to be listed #}
{# role - define the contributor role to be listed #}
{# contributor_column - define the contributor role to be listed #}

{% set icon_size = '96' %}

{% if not avatar_size %}
  {% set avatar_size = '48' %}
{% endif %}

{% set calendar_icon_url = 'http://meta.metaebene.me/media/metaebene/images/icon-calendar-128x128.png' %}
{% set time_icon_url = 'http://meta.metaebene.me/media/metaebene/images/icon-time-128x128.png' %}


{% if not language %}
	{% set language = 'en' %}
{% endif %}

{% set translate =
    {
        "minute":   { en: "minute",     de: "Minute"    },
        "minutes":  { en: "minutes",    de: "Minuten"   },
        "hour":     { en: "hour",       de: "Stunde"    },
        "hours":    { en: "hours",      de: "Stunden"   }
    }
%}

<table>
    <colgroup>
        <col id="episode_icon" width="{{ icon_size + 16 }}" />
        <col id="episode_description" />
        {% if contributor_column %}
        <col id="episode_contributors" />
        {% endif %}
    </colgroup>
    <tbody>
    {% for episode in podcast.episodes %}
        <tr id="{{ episode.slug }}" class="archive_episode_row">
            <td class="episode_icon">
                <img src="{{ episode.imageUrlWithFallback }}" width="{{ icon_size }}" height="{{ icon_size }}">
            </td>
            <td class="episode_description">
                <div class="episode_title"><a href="{{ episode.url }}">{{ episode.title }}</a></div>

                <div class="episode_meta">
                    <img class="tiny_icon" src="{{ calendar_icon_url }}" width="16" height="16" /> {{ episode.publicationDate.format('d.m.Y') }}<br/><img class="tiny_icon" src="{{ time_icon_url }}" width="16" height="16" />                    
					{% if episode.duration.hours == 1 %}
				 		{{ episode.duration.hours }} {{ translate ["hour"][language] }}
					{% elseif episode.duration.hours != 0 %}
						{{ episode.duration.hours }} {{ translate ["hours"][language] }}
					{% endif %}

					{% if episode.duration.minutes == 1 %}
				 		{{ episode.duration.minutes }} {{ translate ["minute"][language] }}
					{% elseif episode.duration.minutes != 0 %}
						{{ episode.duration.minutes }} {{ translate ["minutes"][language] }}
					{% endif %}
				</div>

                <div class="episode_subtitle">{{ episode.subtitle }}</div>

		    {% if contributor_column %}
		    </td>
			<td>
		    {% endif %}

                {# contributor avatars #}
                <div class="episode_contributor_avatars">
                {% for contributor in episode.contributors({group: group, role: role}) %}
                    <img src="{{ contributor.avatar.url }}" title="{{ contributor.name }}" height="{{ avatar_size }}" width="{{ avatar_size }}"/ />
                {% endfor %}
                </div>

                {# contributor names #}
                <div class="episode_contributor_names">
                {% for contributor in episode.contributors({group: group, role: role}) %}
                    {{ contributor.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
				</div>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<style type="text/css">
.archive_episode_row .episode_icon {
    text-align: left;
}

.archive_episode_row .episode_title {
    color: #0199CA;
    font-size: larger !important;
    font-weight: bold !important;
}

.archive_episode_row .episode_meta {
    font-weight: bold !important;
}

.archive_episode_row .episode_contributor_names {
    font-weight: bold !important;
}

.archive_episode_row div.episode_contributor_avatars {
    margin-top: 16px;
}

.archive_episode_row div.episode_meta {
    vertical-align: baseline;
}

.archive_episode_row img.tiny_icon {
    vertical-align: -10%;
}

.archive_episode_row td {
    vertical-align: top;
    padding-top: 32px;
    padding-bottom: 32px;
}
</style>